* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* srijan{
  line-height: 35px;
    display: inline-block;
    background-color: #128C7E;
    font-weight: medium;
    color: #FFFFFF;
} */
body {
  /* display: grid; */
  height: 70%;
  place-items: center;
  align-items: center;
  align-content: center;
  align-self: center;
  /* background-color: #1d1d1d; */
  font-family: sans-serif;
}

.table-container {
  padding: 0 10%;
  margin: 40px auto 0;
}

.heading {
  letter-spacing: 8px;
  font-size: 40px;
  text-align: center;
  color: #f1f1f1;
  margin-bottom: 40px;

}

h6 {
  padding-top: 10px;
  color: #015c53;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  background-color: #25D366;
  height: 30px;

}

.table thread tr th {
  font-size: 14px;
  font-weight: medium;
  letter-spacing: 0.35px;
  color: #FFFFFF;
  opacity: 1;
  padding: 12px;
  vertical-align: top;
  border: 1px solid #dee2e685;

}

table tbody tr td {
  font-size: 14px;
  letter-spacing: 0.35px;
  font-weight: normal;
  color: #f1f1f1;
  background-color: #3c3f34;
  padding: 8px;
  text-align: center;
  border: 1px solid #dee2e685;
}

.table .text_open {
  width: 150px;
  text-decoration: none;
  line-height: 45px;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.35px;
  color: #25D366;
  background-color: #000000;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border-radius: 15px;

}

.table tbody tr td .btn {
  width: 130px;
  text-decoration: none;
  line-height: 35px;
  display: inline-block;
  background-color: #00e9ce;
  font-weight: medium;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  font-size: 14px;
  opacity: 1;
}

.table tbody tr td .btn {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.table tbody tr td .btn:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.753), 0 0 20px rgba(46, 46, 46, 0.753);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

@media(max-width:768px) {
  .table thead {
    display: none;
  }

  .table .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }

  .table tr {
    margin-bottom: 15px;

  }

  .table tbody tr td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .table td:before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
  }

  .helo .footer {
    content: attr(data-label);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 20px;
  }
}

/* .footer{
    position: relative;
    bottom: 0px;
    margin-bottom: 0%;
} */
.contactMe {
  display: flex;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul li {
  list-style: none;
}

ul li a {
  width: 80px;
  height: 80px;
  background-color: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  margin: 0 30px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

ul li a .icon {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

ul li a:hover:before {
  top: 0;
}

ul li:nth-child(1) a:before {
  background: #3b5999;
}

ul li:nth-child(2) a:before {
  background: #55acee;
}

ul li:nth-child(3) a:before {
  background: #0077b5;
}

ul li:nth-child(4) a:before {
  background: #0d4f72;
}

.wrapper {
  margin-top: 20px;
  height: 100px;
  width: 360px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
  border-radius: 10px;
  cursor: default;
  animation: animate 1.5s linear infinite;
}

.wrapper .display,
.wrapper span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper .display {
  z-index: 999;
  height: 85px;
  width: 345px;
  background: #1b1b1b;
  border-radius: 6px;
  text-align: center;
}

.display #time {
  line-height: 85px;
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 1px;
  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 1.5s linear infinite;
}

@keyframes animate {
  100% {
    filter: hue-rotate(360deg);
  }
}

.wrapper span {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background: inherit;
}

.wrapper span:first-child {
  filter: blur(7px);
}

.wrapper span:last-child {
  filter: blur(20px);
}